/* Contact Section Container */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px; /* Add padding to ensure content doesn't touch screen edges */
}

@media (min-width: 768px) {
  .contact-section {
    flex-direction: row; /* Row layout for larger screens */
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;
  }
}

/* Contact Form Container */
.contact-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0px; /* Add padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in width */
}

@media (min-width: 768px) {
  .contact-form-container {
    max-width: 500px;
  }
}

/* Contact Info Container */
.contact-info {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin-bottom: 20px; /* Add margin for spacing between sections */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .contact-info {
    flex: 0 0 300px; /* Fixed width for larger screens */
    margin-bottom: 0;
  }
}

/* Form Elements */
.contact-form {
  width: 18rem;
}

.contact-form-group {
  margin-bottom: 15px;
  width: 100%;
}

.contact-form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form-input,
.contact-form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Textarea Specific Styling */
.contact-form-textarea {
  height: 100px;
  resize: vertical;
}

/* Submit Button */
.contact-form-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 100%; /* Full width button for better touch target */
  box-sizing: border-box;
}

.contact-form-button:hover {
  background-color: #45a049;
}

/* Response Message */
.contact-form-response {
  margin-top: 20px;
  padding: 15px;
  font-size: 16px;
  color: #fff;
  background-color: #4caf50;
  border-radius: 4px;
  text-align: center;
  max-width: 100%;
  width: fit-content;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contact-form-error {
  background-color: #f44336;
}

/* Contact Info Elements */
.contact-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 16px;
  margin: 5px 0;
}
