/* src/components/NavBar.css */

.navbar {
  width: 100%;
  background-color: #fff;
  position: relative; /* Ensure the navbar is part of the document flow */
  z-index: 1000;
}

.navbar-top {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eaeaea;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
  margin-right: 1rem;
}

.navbar-company-name {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.navbar-contact a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
}

.navbar-contact a:hover {
  text-decoration: underline;
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-bottom {
  background-color: #343a40;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  max-height: none;
}

.navbar-bottom.open {
  max-height: 500px; /* Adjust based on the content height */
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 1.5rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
}

.navbar-link:hover {
  background-color: #495057;
}

/* Remove hover effect in narrow view */
@media (max-width: 768px) {
  .navbar-link:hover {
    background-color: transparent;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-bottom {
    display: none;
    flex-direction: column;
    width: 100%;
    max-height: 0;
  }

  .navbar-bottom.open {
    display: flex;
    max-height: 500px; /* Adjust based on the content height */
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
    animation: slideIn 0.3s ease-in-out;
  }

  .navbar-item {
    margin-left: 0;
    width: 100%;
  }

  .navbar-link {
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
}
