/* src/components/NavBar.css */

.navbar {
  width: 100%;
  background-color: #fff;
  position: relative; /* Ensure the navbar is part of the document flow */
  z-index: 1000;
}

.navbar-top {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eaeaea;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
  margin-right: 1rem;
}

.navbar-company-name {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.language-switcher {
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  font-size: 0.8rem;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 7px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.language-switcher:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.language-switcher:active {
  background-color: #e0e0e0;
  transform: scale(0.9);
}

.navbar-toggle {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar-toggle.open {
  transform: rotate(90deg);
}

.navbar-bottom {
  background-color: #343a40;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  max-height: none;
}

.navbar-bottom.open {
  max-height: 500px; /* Adjust based on the content height */
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 1.5rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
}

.navbar-link:hover {
  background-color: #495057;
}

/* Remove hover effect in narrow view */
@media (max-width: 768px) {
  .navbar-link:hover {
    background-color: transparent;
  }

  .language-switcher {
    margin-left: -0.1rem; /* Move the button slightly to the left */
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .language-switcher:hover {
    background-color: transparent; /* Disable hover effect */
    transform: none; /* Disable hover transform */
  }

  .language-switcher:active {
    background-color: #e0e0e0;
    transform: scale(0.9);
  }

  .language-switcher.active-animation {
    animation: activateAnimation 0.3s ease;
  }
}

@media (max-width: 415px) {
  .navbar-company-name {
    font-size: 1.2rem;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-bottom {
    display: none;
    flex-direction: column;
    width: 100%;
    max-height: 0;
  }

  .navbar-bottom.open {
    display: flex;
    max-height: 500px; /* Adjust based on the content height */
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
    animation: slideIn 0.3s ease-in-out;
  }

  .navbar-item {
    margin-left: 0;
    width: 100%;
    margin-top: 0.75rem; /* Add space between the links */
    margin-bottom: 0.75rem; /* Add space between the links */
  }

  .navbar-link {
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
}
/* CSS for Chinese text */
.chinese-text {
  font-family: 'Noto Sans SC', sans-serif; /* Example font for Chinese */
  font-size: 1.2rem;
}
