/* App.css */

/* Added these styles for the fade transition */
.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}

/* General styles */
body {
  font-family: 'Arial, sans-serif';
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

/* Header styles */
nav {
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  background-color: #495057;
  border-radius: 5px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content styles */
.main-content {
  flex: 1;
  /* padding-top: 120px;
  padding-bottom: 60px; */
}

h1, h2, h3, h4, h5, h6 {
  color: #343a40;
}

/* Button styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

/* Footer styles */
footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Contact form styles */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #343a40;
}

form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

form button {
  width: 100%;
}
